/*check...*/

#scene2html {
  display: none;
  z-index: 2;
  position: relative;
  text-align: center;
  display: none;
}

#scene2html #section1in2--img__img{
  width: 100%;
  height: auto;
  display: block;
  /*transform: rotate(90deg) translate(-90%, -20%);*/
  transform: translate(0%, -40%) rotate(90deg);
}

#scene2html .section--content {
  position: absolute;
  color: orange;
  top: 4.5%;
  left: 22%;
  transform: translate(0%, -20%);
  text-align: center;
  text-shadow: 0 0 15px;
  font-size: 1.3em;
}